  <div class="d-flex justify-content-center">
          <div class="login-box">
              <div class="login-logo">
                  <a href="../../index2.html"><b>Medical</b>Report</a>
              </div>
              <div class="card">
                  <div class="card-body login-card-body">
                      <p class="login-box-msg">Digita aqui os dados de acesso</p>

                      <form [formGroup]="loginForm" (submit)="doLogin()">
                          <div class="input-group mb-3">
                              <input type="email" class="form-control" formControlName="protocol" placeholder="Protocolo" required>
                              <div class="input-group-append">
                                  <div class="input-group-text">
                                      <span class="fas fa-align-center"></span>
                                  </div>
                              </div>
                          </div>
                          <div class="input-group mb-3">
                              <input type="password" class="form-control" formControlName="password" placeholder="Senha" required>
                              <div class="input-group-append">
                                  <div class="input-group-text">
                                      <span class="fas fa-lock"></span>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-8">
                                  <span class="text-danger" *ngIf="isInvalid">Login ou senha inválido.</span>
                              </div>
                              <div class="col-4">
                                  <button type="submit" class="btn btn-primary btn-block" [disabled]="loginForm.invalid">
                                      <span  *ngIf="!isLoad">Entrar</span>
                                      <span  *ngIf="isLoad">
                                          <i class="fas fa fa-sync-alt fa-spin"></i>
                                      </span>
                                  </button>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
  </div>
