<div class="timeline">
  <ng-container *ngFor="let interactionsInDate of (InteractionsOnDate$ | async); index as index" >
    <div class="time-label">
      <span [ngClass]="index == 0 ? 'bg-red' : 'bg-green'">{{ interactionsInDate.date | date: 'mediumDate'}}</span>
    </div>  
    <div *ngFor="let interaction of interactionsInDate.interactions">        
      <ng-container *ngIf="interaction.type == InteractionType.Report">
        <i class="fas fa-user-md bg-blue" ></i>
        <div class="timeline-item">
          <span class="time"><i class="fas fa-clock"></i> {{ interaction.interactionAt | date:'hh:mm' }}</span>
          <h3 class="timeline-header"><a href="#">{{ interaction.professionalName }}</a> enviou um boletim</h3>    
          <div class="timeline-body">
            {{ interaction.report }}
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="interaction.type == InteractionType.Medication">
        <i class="fas fa-capsules bg-green"></i>
        <div class="timeline-item">
          <span class="time"><i class="fas fa-clock"></i> {{ interaction.interactionAt | date:'hh:mm' }}</span>
          <h3 class="timeline-header no-border"><a href="#">{{ interaction.professionalName }}</a> aplicou uma medicação</h3>
          <div class="timeline-body">
            {{ interaction.medication }}
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="interaction.type == InteractionType.ParametersMeasure">
        <i class="fas fa-heartbeat bg-yellow"></i>
        <div class="timeline-item">
          <span class="time"><i class="fas fa-clock"></i> {{ interaction.interactionAt | date:'hh:mm' }}</span>
          <h3 class="timeline-header"><a href="#">{{ interaction.professionalName }}</a> aferiu os parâmetros</h3>
          <div class="timeline-body table-responsive p-0">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Parametro</th>
                  <th>Valor</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let parameter of interaction.parameters">
                  <td>{{ parameter.parameter }}</td>
                  <td>{{ parameter.value }}</td>
                </tr>                
              </tbody>
            </table>
          </div>
        </div>
      </ng-container>

    </div>
  </ng-container>

  <!-- <div  class="time-label">
    <span class="bg-red">10 Fev 2021</span>
  </div>

  <div>
    <i class="fas fa-user-md bg-blue"></i>
    <div class="timeline-item">
      <span class="time"><i class="fas fa-clock"></i> 12:05</span>
      <h3 class="timeline-header"><a href="#">Dr. Fernandes</a> enviou um boletim</h3>

      <div class="timeline-body">
        ​O Sr. Alexandre Peçanha Gaddy segue internado na UTI (Unidade de Tratamento Intensivo) do Hospital Israelita
        Albert Einstein, Unidade Morumbi. O paciente
        encontra-se em estado crítico, com agravamento do estado geral, devido a longa extensão de queimaduras sofridas
        (mais de 50% do corpo) e sendo a maioria
        dessas lesões de terceiro grau.
      </div>
    </div>
  </div>

  <div>
    <i class="fas fa-capsules bg-green"></i>
    <div class="timeline-item">
      <span class="time"><i class="fas fa-clock"></i> 5 mins ago</span>
      <h3 class="timeline-header no-border"><a href="#">Enfermeiro Roberto</a> aplicou uma medicação</h3>
      <div class="timeline-body">
        Morfina - 10mg
      </div>
    </div>
  </div>

  <div>
    <i class="fas fa-heartbeat bg-yellow"></i>
    <div class="timeline-item">
      <span class="time"><i class="fas fa-clock"></i> 27 mins ago</span>
      <h3 class="timeline-header"><a href="#">Enfermeiro Roberto</a> aferiu os parâmetros</h3>
      <div class="timeline-body table-responsive p-0">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Parametro</th>
              <th>Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Saturação</td>
              <td>95%</td>
            </tr>
            <tr>
              <td>Batimentos cardíaco</td>
              <td>84 bpm</td>
            </tr>
            <tr>
              <td>Temperatura corporal</td>
              <td>37,3º</td>
            </tr>
            <tr>
              <td>Pressão arterial</td>
              <td>13x8</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="time-label">
    <span class="bg-green">09 Fev 2021</span>
  </div>

  <div>
    <i class="fas fa-user-md bg-blue"></i>
    <div class="timeline-item">
      <span class="time"><i class="fas fa-clock"></i> 12:05</span>
      <h3 class="timeline-header"><a href="#">Dr. Fernandes</a> enviou um boletim</h3>

      <div class="timeline-body">
        ​O Sr. Alexandre Peçanha Gaddy segue internado na UTI (Unidade de Tratamento Intensivo) do Hospital Israelita
        Albert Einstein, Unidade Morumbi. O paciente
        encontra-se em estado crítico, com agravamento do estado geral, devido a longa extensão de queimaduras sofridas
        (mais de 50% do corpo) e sendo a maioria
        dessas lesões de terceiro grau.
      </div>
    </div>
  </div>

  <div>
    <i class="fas fa-capsules bg-green"></i>
    <div class="timeline-item">
      <span class="time"><i class="fas fa-clock"></i> 5 mins ago</span>
      <h3 class="timeline-header no-border"><a href="#">Enfermeiro Roberto</a> aplicou uma medicação</h3>
      <div class="timeline-body">
        Morfina - 10mg
      </div>
    </div>
  </div>

  <div>
    <i class="fas fa-capsules bg-green"></i>
    <div class="timeline-item">
      <span class="time"><i class="fas fa-clock"></i> 5 mins ago</span>
      <h3 class="timeline-header no-border"><a href="#">Enfermeira Ana</a> aplicou uma medicação</h3>
      <div class="timeline-body">
        Morfina - 10mg
      </div>
    </div>
  </div>

  <div>
    <i class="fas fa-capsules bg-green"></i>
    <div class="timeline-item">
      <span class="time"><i class="fas fa-clock"></i> 5 mins ago</span>
      <h3 class="timeline-header no-border"><a href="#">Enfermeira Ana</a> aplicou uma medicação</h3>
      <div class="timeline-body">
        Morfina - 10mg
      </div>
    </div>
  </div>

  <div>
    <i class="fas fa-heartbeat bg-yellow"></i>
    <div class="timeline-item">
      <span class="time"><i class="fas fa-clock"></i> 27 mins ago</span>
      <h3 class="timeline-header"><a href="#">Enfermeira Mariana</a> aferiu os parâmetros</h3>
      <div class="timeline-body table-responsive p-0">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Parametro</th>
              <th>Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Saturação</td>
              <td>93%</td>
            </tr>
            <tr>
              <td>Batimentos cardíaco</td>
              <td>70</td>
            </tr>
            <tr>
              <td>Temperatura corporal</td>
              <td>36,9º</td>
            </tr>
            <tr>
              <td>Pressão arterial</td>
              <td>11x8</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
 -->

  <div>
    <i class="fas fa-clock bg-gray"></i>
  </div>
 
</div>