<i class="fas fa-heartbeat bg-yellow"></i>
<div class="timeline-item">
  <span class="time"><i class="fas fa-clock"></i> {{ interaction.interactionAt | date:'hh:mm' }}</span>
  <h3 class="timeline-header"><a href="#">{{ interaction.professionalName }}</a> aferiu os parâmetros</h3>
  <div class="timeline-body table-responsive p-0">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Parametro</th>
          <th>Valor</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Saturação</td>
          <td>95%</td>
        </tr>
        <tr>
          <td>Batimentos cardíaco</td>
          <td>84 bpm</td>
        </tr>
        <tr>
          <td>Temperatura corporal</td>
          <td>37,3º</td>
        </tr>
        <tr>
          <td>Pressão arterial</td>
          <td>13x8</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>